<% content_for :title do %>André Baudin-Laurencin<% end %>
<% content_for :description do %>Website d'André Baudin-Laurencin<% end %>
<section>
  <img src="http://lorempixel.com/1170/600/cats/2">
</section>
<section>
  <div class="column8">
    <h2>Stay in touch... </h2>
    <h3>If you dare...</h3>
    <p>Mine de rien... c'est du boulot</p>
    <p>- Dans la page contact ça envoie votre adresse mails dans un tableau google drive. Je les reçoit aussi par mail.</p>
    <p>- Sur cette page votre adresse mail est envoyée dans MailChimp (newsletter).</p>
  <p>
$ git add -A
$ git commit -m "rajout cmd Heroku"
$ RAILS_ENV=production rake assets:precompile
$ git add -A
$ git commit -m "assets compiled for Heroku"
$ git push
$ git push heroku master</p>
    </div>
  <div class="column4">
    <div class="form-centered">
      <%= simple_form_for @visitor do |f| %>
        <%= f.error_notification %>
        <%= f.input :email, label: false, :placeholder => 'Your email address...' %>
        <br/>
        <%= f.button :submit, "Sign up for the newsletter", :class => "submit" %>
      <% end %>
    </div>
  </div>
</section>
