<% content_for :title do %>André Baudin-Laurencin<% end %>
<% content_for :description do %>Website d'André Baudin-Laurencin<% end %>
<section>
   <img src="http://lorempixel.com/1170/600/cats/2">
       <div class="column12">
    <h1>Pour rester en contact... </h1>


      <%= simple_form_for @visitor do |f| %>
        <%= f.error_notification %>
        <%= f.input :email, label: false, :placeholder => 'Votre adresse mail...' %>
        <%= f.button :submit, "Pour recevoir la news letter", :class => "submit" %>
      <% end %>
       </div>

</section>
