<% content_for :title do %>webloveand.co<% end %>
<% content_for :description do %>Website d'André Baudin-Laurencin<% end %>

<div class="column12">
<section>
      <img src="http://lorempixel.com/1170/600/cats/2" alt="image de chat">

   <h1>Pour rester en contact... </h1>


      <%= simple_form_for @visitor do |f| %>
        <%= f.error_notification %>
        <%= f.input :email, label: false, :placeholder => 'Votre adresse mail...' %>
        <%= f.button :submit, "Pour recevoir la news letter", :class => "submit" %>
      <% end %>

</section>
</div>