<% content_for :title do %>Projet Web Love
<% end %>
<div class="column12">
  <h1>Pour que la technologie disparaisse au profit de l'usage.</h1>

  <p>

    Etude de faisabilité sur la fabrication d'un logiciel open source d'édition de base de données ET de publication
    web, basé sur une rétro-ingénierie du Logiciel Apple FileMaker Pro (fonctionnement en réseau, simplicité, graphisme,
    multi-langue, etc.), prenant en compte les besoins actuels de publications sur différents supports (intégration
    d'Apache Cordova).

  <div class="column12">

    <ul>
      <li>libre</li>
      <li>européen</li>
      <li>multilingue de part sa création, sa documentation</li>
      <li>Mise en place d'une certification européenne</li>
    </ul>
  </div>
  <div class="column12">

    <p>Ce programme doit permettre à chacun et de façon évidente:</p>
    <ul>
      <li>de traiter des données (Créer, Lire, Mettre à jour, Détruire, Chercher, Trier, Calculer)
      </li>
      <li>d’utiliser un outil graphique pour la mise en page des données,</li>
      <li>de présenter et de publier sur le web des données (texte, chiffres, images, vidéos, musiques) de façon
        extrêmement simple
      </li>
      <li>de savoir de façon sure où sont ses données.</li>
    </ul>
  </div>
  <p>
    De nombreuses fois, je me suis dit... “Mais c’est pas vrais... Il n’y a personne qui vas proposer la même chose que
    FileMaker mais à destination du web et sous Ubuntu…” Et oui… Il n'existe aucun logiciel similaire à FileMakerPro
    sous Ubuntu, pourtant le monde libre en a besoin... Visiblement c’est compliqué de faire simple ou alors il y a
    quelque chose de pourris au Royaume du Danemark…
</p>
  <p>
    Aujourd'hui, un utilisateur lambda, un néophyte à donc l'obligation d'utiliser un ensemble de technologies multiples
    et complexes.
</p>
<div class="column12">
  <p>
  <ul>
    <li>PHP avec sql avec ou sans framework (Laravelle,...) +++</li>
    <li> Ruby + postgres + rails + javascript + botstrapp++++</li>
    <li>Java …</li>
  </ul>
  <p>
    Le temps d'apprentissage et de vague maîtrise d'au moins une de ces solutions (pour la majorité des néophytes) est
    au
    minimum d'un an... </p>
</div>
  <h2>Solutions existantes</h2>
  <div class="column12">

  <ul>
    <li> Il y a OfficeBase... moche et ne fonctionne pas en réseau naturellement et ne publie pas sur le web...</li>
    <li>Il y a kexi http://www.calligra.org/kexi/ qui ressemble à Acces par sa laideur et son approche.</li>
    <li> http://www.wavemaker.com --> Tourne sur Java --> C'est ce qui se rapproche le plus de ce qu'il faut proposer.
      Racheté
      à VMWare il y a deux ans. Il appartient maintenant à une société indienne. Le code source est sur github.
      https://github.com/cloudjee/wavemaker mais, Il ne fonctionne pas avec le jdk libre.
    </li>
  </ul>
</div>
  <h2>Avantages et éléments différenciateurs</h2>
  <div class="column12">
  <ul>
  <li>L’interface graphique</li>
  <li>Le minimum de ligne de code</li>
  <li>Le maximum de web</li>
  <li>Un outil résolument européen et multilingue de part sa création, sa documentation, sa traduction.</li>
  <li>Un outil sur et fiable dans le temps.</li>
  </ul>
</div>

  <h2>Qui pourrait appuyer le projet WebLove en France ?</h2>
  
  <div class = "column12">
    <ul>
  <li>Audrey Harris PDG de Soubis</li>
  <li>    Benoît Thieulin Directeur général de l'agence digitale la Netscouade Président du CNNum </li>
<li>    Brigitte Vallée Directrice de Recherche au CNRS </li>
<li>    Christine Balagué Vice-présidente du CNNum  </li>
<li>    Cyril Garcia Directeur de la stratégie Cap Gemini </li>
<li>    Daniel Kaplan Délégué Général de la Fing  </li>
<li>    Michel Briand Directeur adjoint de la formation à Télécom Bretagne/Vice-président Brest Métropole </li>
<li>    Nathalie Andrieux Directrice du numérique du groupe La Poste  </li>
<li>    Serge Abiteboul Directeur de Recherche à l'INRIA  </li>
<li>    Sophie Pène Professeur à l'Université Paris Descarte  </li>
<li>    Valérie Peugeot Chercheuse à Orange Lab, Présidente de Vécam, Vice-présidente du CNNum  </li>
<li>    des écoles informatiques  </li>
<li>    des universitaires  </li>
<li>    des chercheurs  </li>
<li>    La Région Île de France </li>
<li>    La Ville de Paris </li>
<li>    Le Grand Paris  </li>
<li>    Les agglomérations  </li>
<li>    Les départements  </li>
<li>    Le ministère de l'Economie Numérique  </li>
<li>    Stéphane Distinguin </li>
<li>    Antoine Torikian  </li>
<li>    Epitec  </li>
<li>    Epita </li>
<li>    Etic  </li>
<li>  42  </li>
<li>    Simplon </li>
<li>    Telecom Paris Tech  </li>
<li>Mine Telecom...</li>
    </ul>
</div>
<p>  En fonction du résultat de cette étude, Il faudra travailler sur une demande subvention européenne liée à la
  réalisation. Budget estimé de la demande de subvention : 2 million d’euros
</p>
  <h2>WebLove avec qui en Europe ?</h2>
  <p>

  Il faudra mettre en place les relations nécessaires dans chacun des pays européens.
</p>
<div class = "column12"
<ul>
  <li>	République fédérale d'Allemagne		</li>
  <li>	  République d'Autriche		</li>
  <li>	  Royaume de Belgique		</li>
  <li>	  République de Bulgarie		</li>
  <li>	  République de Chypre		</li>
  <li>	  République de Croatie		</li>
  <li>	  Royaume du Danemark		</li>
  <li>	  Royaume d'Espagne		</li>
  <li>	  République d'Estonie		</li>
  <li>	  République de Finlande		</li>
  <li>	  République française		</li>
  <li>	  République hellénique		</li>
  <li>	  Hongrie Irlande		</li>
  <li>	  République Italienne		</li>
  <li>	  République de Lettonie		</li>
  <li>	  République de Lituanie		</li>
  <li>	  Grand-Duché de Luxembourg		</li>
  <li>	  République de Malte		</li>
  <li>	  Royaume des Pays-Bas		</li>
  <li>	  République de Pologne		</li>
  <li>	  République portugaise		</li>
  <li>	  République tchèque		</li>
  <li>	  Roumanie		</li>
  <li>	  Royaume-Uni		</li>
  <li>	  République slovaque		</li>
  <li>	  République de Slovénie		</li>
  <li>	  République fédérale d'Allemagne		</li>
  <li>	  République d'Autriche		</li>
  <li>	  Royaume de Belgique		</li>
  <li>	  République de Bulgarie		</li>
  <li>	  République de Chypre		</li>
  <li>	  République de Croatie		</li>
  <li>	  Royaume du Danemark		</li>
  <li>	  Royaume d'Espagne		</li>
  <li>	  République d'Estonie		</li>
  <li>	  République de Finlande		</li>
  <li>	  République française		</li>
  <li>	  République hellénique		</li>
  <li>	  Hongrie Irlande		</li>
  <li>	  République Italienne		</li>
  <li>	  République de Lettonie		</li>
  <li>	  République de Lituanie		</li>
  <li>	  Grand-Duché de Luxembourg		</li>
  <li>	  République de Malte		</li>
  <li>	  Royaume des Pays-Bas		</li>
  <li>	  République de Pologne		</li>
  <li>	  République portugaise		</li>
  <li>	  République tchèque		</li>
  <li>	  Roumanie		</li>
  <li>	  Royaume-Uni		</li>
  <li>	  République slovaque		</li>
  <li>	  République de Slovénie		</li>

</ul>

</div>
  <h2>WebLove, c'est possible !!! Le monde en a besoin.</h2>

  Au moins 5 développeurs pointu par pays.
  140 vrais développeurs .
  Une bonne organisation.
  Une très bonne analyse en amont…
  Un budget !

  On récapitule

  C’est un projet de dossier de demande de subvention pour réaliser une étude de faisabilité pour un logiciel open
  source.
  L’objectif de ce logiciel est de proposer la fabrication d'un logiciel libre d'édition de base de données ET de
  publication web, basé sur une retro-ingenerie du Logiciel Apple FileMaker Pro (fonctionnement en réseau, simplicité,
  graphisme, multi-langue, etc.), prenant en compte les besoins actuels de publications sur différents supports
  (intégration d'Apache Cordova)
</div>