<h1>Date : le 22/12/2013</h1>
<h2>Objet : Résumé des épisodes précédents... (à savoir depuis le 28 octobre 2013 --> )</h2>
<h3>Appréhension de différents blocs d'information :</h3>

Décision d'installer Archlinux sur mon PC à la maison - Un processeur  Atlon 64 avec 2 Mo de ram et une carte vidéo Amd


Installation d'Archlinux --> qui ne fonctionne pas avec une carte vidéo "Amd" malgré l'installation du driver propriétaire...

      Cela se remarque quand on lance startx --> on obtient un joli plantage

(petite plaisanterie qui m'a pris 72 heures au moins - installation, réinstallation...)

Après une semaine d'ébats inassouvis  --> jetage d'Archlinux

Installation de Ubuntu --> trops lourd sur mon PC et sur les portables de Simplon(Lenovo T60 - Bonne machine quand même, mais visiblement problème avec le carte wifi et unix / non fonctionnement sur Archlinux ni sur Ubuntu).

Après une semaine d'ébats inassouvis --> jetage de Ubuntu

Installation de Lubuntu --> Version plus légère  de Ubuntu et vraiment agréable à utiliser sur les machine peu récentes.

    Présentation de Tweeter Bootstrap et de Foundation
    Présentation de SublimeText2
    Présentation de Sinatra...
    Présentation de Ruby
    Présentation de rails

 --> Tutoriel trop lourd en première approche de Michel Heart

 Je cherche des trucs, je tombe sur wavemaker
-->

Découverte de  Bloggers de ... plus léger... mais bon ... avec Ruby 1.9.3, évidemment on est en version 2 donc quelques soucis ...

Phases de doute, mais il semble que tout le monde soit un peu perdu et dans le même cas que moi.

J'essaye de savoir  par quel bout prendre dans la masse d'informations reçues

15 jours de coupure...

1 semaine d'aération de cerveaux
  Lieux : à la montagne avec un très très très ... bas débit asdl
  Machine : un pc avec windows 8
  Tentative : Installer ruby et rails --> on va dire bof....
  Décision : installer une machine virtuelle --> ça le fait --> une journée de téléchargement
  Récupération de Lubuntu --> une journée de téléchargement
  Installation de Ubuntu dans la machine virtuelle --> ça le fait
  Téléchargement de Rvm, Ruby, installation des gems, téléchargement de SublimeText
  Prêt pour bosser, yes...
  Ah ben non ça marche pas... On ne sait pas pourquoi node Js n'est pas installé par défaut.

Je suis un peu contrarié... Je me dit que franchement #{|[{`[|`é\"\'(`^-|`^è^[_ç é&r_&réèà é&é_" et là je reste poli...

Bon je rentre... j'ai un peu le sentiment de comment dire ...

  Je cherche des trucs...
    Je tombe sur servoy : ça a  l'air interressant mais ça ne fonctionne pas avec le jdk libre --> don je le supprime de ma machine et installe le java d'oracle... Encore un grand moment...

Après 36 h et une réussite à l'installation, j'en ai tellement chier que je ne sais même plus pourquoi je l'ai installé...

Bon allez un autre tuto



